
/*colors font*/
body {
    color: #fff;
}
/*styles answer boxes*/
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18, 93, 255);
    font-size: 3rem;
    min-width: 80rem;
}
/*adds effects on hover over answer box*/
.choice-container:hover {
    cursor: grab;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;
}
/*styling for text in answer box*/
.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}
/*styling for timer display*/
#timerSelect {
    font-size: 15px;
    font-weight: bold;
}
/*styling for correct or incorrect event*/
.correct {
    background: greenyellow;
}

.incorrect {
    background: linear-gradient(32deg, rgba(230, 29, 29, 1) 0%, rgb(224, 11, 11, 1) 100%);
}

/* Heads up Display */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(45, 65, 245);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(11, 32, 223);
    width: 0%;
}

@media screen and (max-width: 770px) {
    .choice-container {
        min-width: 40rem;
    }
}