body {
    color: white;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: transparent;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: progress;
    box-shadow: 0 0.4rem 1.4rem 0 lightskyblue;
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, lightgreen 0%, lightgreen 100%);
}

.incorrect {
    background: linear-gradient(32deg, red 0%, red 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
}

.hud-prefix {
    font-size: 2rem;
    text-align: center;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid greenyellow;
    border-radius: 50px;
    margin-top: 2rem;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: greenyellow;
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}